<nav class="navbar navbar-expand bg-light p-4">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand text-secondary fw-normal"
        ><a href="/">DAILY JOURNAL</a></span
      >
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li id="home" class="nav-item">
        <a class="nav-link" href="/">HOME</a>
      </li>
      <li id="about" class="nav-item">
        <a class="nav-link" href="/about">ABOUT</a>
      </li>
      <li id="contact" class="nav-item">
        <a class="nav-link" href="/contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
